
 /* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Poppins&family=Work+Sans:ital,wght@0,100;0,200;0,900;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* navbar styles */
header{
    background-color: #FFF4E7;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    align-items: center;
    
}
.logo h3{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-item > ul{
    display: flex;
}
.nav-item li{
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
}
.nav-item li a{
    text-decoration: none;
    
}
/* banner styles */
.banner{
    width: 100%;
    text-align: center;
}
.banner-content{
    width: 40%;
    margin: 20px auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-desc{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 20px 0px
}
.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
}
.banner-img img{

}
/* media query for small devices */
@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
        padding: 20px;
    }
    .logo h3{
        font-size: 1.5rem;
}
    .nav-item li{
        margin-right: 30px;
        font-size: 1rem;
        margin: 10px 10px;
    }
    .banner{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-content{
        width: 90%;
        margin: 10px auto;
    }
    .banner-title{
        font-size: 2rem;
    }

}
/*medium devices */
@media screen and (min-width: 576px) and (max-width:992px) {
    .navbar{
        padding: 30px 60px;
    }
    .logo h3{
        font-size: 1.5rem;
}
    .banner{
        width: 100%;
        margin-top: 20px;
    }
    .banner-img img{
        width: 85%;
    }
    .banner-content{
        width: 85%;
        margin: 10px auto;
    }
    .banner-title{
        font-size: 2.5rem;
    }
}
/* large devices */
@media screen and (min-width: 993px) and (max-width:1400px) {
    .banner-img img{
        width: 100%;
}
}

/* features style */
.feature-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin: 80px 250px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.feature-content  .div{
    width: 48%;
    margin: 0px 60px;
    
}
.feature-content{
    margin-left: 50px;
}
.feature-content h1 {
    font-size: 2.8rem;
}
.feature-content h1 .span-1{
    color:#727272;
    font-weight: 500;

}
.feature-content h1 .span-2{
    color: #131313;
    font-weight: 600;
}
.feature-content h1 .span-3{
    color: #FF900E;
    font-weight: 600;
}
.feature-desc{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 30px 0px;
}
/* media query for small devices */
@media screen and (max-width: 576px) {
    .feature-section{
        width: 100%;
        flex-direction: column;
        margin: 20px auto;
    }
    .feature-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-content{
        margin: 20px;
    }
    .feature-content  .div{
        width: 100%;
        margin: 30px auto;
    }

    .feature-btn{
        font-size: 1rem;
        padding: 12px 18px;
    }
    .feature-desc{
        font-size: .75rem;
    }


}
/*medium devices */
@media screen and (min-width: 576px) and (max-width:992px) {
    .feature-section{
        width: 100%;
        margin: 40px 0px;
    }
    .feature-img{
        gap: 5px;
    }
    .feature-img img{
        width: 170px;
        height: 170px;
    }
    .feature-content{
        margin: 20px;
    }
    .feature-content  .div{
        width: 100%;
        margin: 30px auto;
    }
    .feature-btn{
        font-size: 1rem;
        padding: 12px 18px;
    }
    .feature-content h1 {
        font-size: 1.8rem;
    }
    .feature-desc{
        font-size: .75rem;
    }

}
/* large devices */
@media screen and (min-width: 993px) and (max-width:1400px) {
    .feature-section{
        width: 100%;
        margin: 40px 0px;
    }
    .feature-img img{
        width: 250px;
        height: 250px;
    }
    .feature-content  .div{
        width: 100%;
        margin: 30px auto;
    }
    .feature-img{
        gap: 10px;
    }
}
